.place_type_short {
    grid-template-rows: 76px auto;
}

@media screen and (max-width: 1279px) {
    .place_type_short {
        grid-template-rows: 76px auto;
    }
}

@media screen and (max-width: 1023px) {
    .place_type_short {
        grid-template-rows: 46px auto;
    }
}
