.lead__image {
    margin: 64px auto 22px ;
    max-width: 984px;
    max-height: 615px;
    box-sizing: content-box;
    object-fit: cover;
}

@media screen and (max-width: 1024px) {
    .lead__image {
        max-width: 928px;
        max-height: 580px;
        margin: 56px auto 22px;
    }
}

@media screen and (max-width: 768px) {
    .lead__image {
        max-width: 100%;
        margin: 56px auto 22px;
    }
}

@media screen and (max-width: 320px) {
    .lead__image {
        max-width: 100%;
        margin: 40px auto 22px;
    }
}